.searchbox-wrapper {
    input {
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        outline: none;
    }

    .search-results {
        padding: 10px 20px;
        background-color: #333;
        border-radius: 10px;
        color: #fff;
    }
}