* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}

body {
    background-color: #fff;
}

a {
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}